{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-ejs", "prettier-plugin-sql"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "parser": "sql"
      }
    }
  ]
}
